<ion-grid class="subscribers-list">
  <ion-row>
    <ion-col size="4">
      <ion-chip color="secondary" routerLink="/practice/music" routerLinkActive="active">
        <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-label color="secondary">11</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="4">
      <ion-chip color="primary" routerLink="/practice/gallery" routerLinkActive="active">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label color="primary">218</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="4">
      <ion-chip color="warning" routerLink="/practice/likes" routerLinkActive="active">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label color="warning">150</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
